.nav-link {
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-family: Brush Script MT;
  text-transform: uppercase;
  font-size: larger;
  margin-left: 0.2em;
  color: white;
  border-top: solid 2px gold;
  border-bottom: solid 2px gold;
}
