<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="shop/products" routerLinkActive="active">
    <img src="../assets/img/patrick.png" width="28" height="37" class="d-inline-block align-top" alt="">
    <span class="title">Shop Ni Patrick</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="shop/products" routerLinkActive="active">
          <span class="fa fa-th fa-2x text-light"></span>
          <br>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shop/popular" routerLinkActive="active">
          <span class="fa fa-star fa-2x text-light"></span>
          <br>
          Popular
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shop/food" routerLinkActive="active">
          <span class="fa fa-utensils fa-2x text-light"></span>
          <br>
          Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shop/drinks" routerLinkActive="active">
          <span class="fa fa-coffee fa-2x text-light"></span>
          <br>
          Drinks
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
