<div class="product-container">
  <!-- Looping all the data from filteredProducts array -->
  <div *ngFor="let product of filteredProducts"
    (click)="addToCart({id: product.id,prodName: product.prodName, price: product.price, onHand: product.qty})">
    <div style="text-align: center;">
      <strong>{{product.prodName}}</strong>
      <br>
      <div class="product-info">
        {{voidItem()}}
        <p for=""> {{product.price | currency: 'USD'}}</p>
        <p for="">Qty: {{product.qty}}</p>
      </div>
    </div>
  </div>
  <!-- End -->
</div>
